*.userprefs
bin/
obj/
csx/
packages/
nuget-packages/
*.pdb
*.cache
*.suo
*.mdf
*.ldf
*.orig
.vs/config/applicationhost.config
*.cd
*.iml
*.user
*.nupkg
*.log
**/**/.idea
**/**/out/
**/**/build/
**/**/.gradle/
node_modules
Logify.JS/lib
Logify.NodeJS/lib/
Logify.NodeJS/bundle/
.cr/
